*.pyc
*.png
*.exr
*.vol
*.npy
.DS_Store
ply_convert/lego_Car
ply_convert/handcrafted
ply_convert/handcrafted_old
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
3dgs_lego_train
Two_blobs_torch

