*.pyc
*.png
*.exr
*.vol
*.npy
.DS_Store
ply_convert/lego_Car
ply_convert/handcrafted
ply_convert/handcrafted_old
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
3dgs_lego_train
Two_blobs_torch
checkerboard_
checkerboard
3dgs_pattern_train
3dgs_t2_train
pattern
3dgs_lego_train_albedo
center_checker
measured_spectrum/raw_data
blob_thickness_test
blob3_thickness_test
blob_thickness_test_yellow
checker70
lego/points3d.ply
blob_factor
blob_factor_km
blob_factor_albedo_spec
blob_factor_albedo_rgb